.section {
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  background: url('../../images/bg_top_l.png') no-repeat left -20% top -40%,
    url('../../images/bg_top_r.png') no-repeat right -5% top -40%,
    url('../../images/bg_bt_l.png') no-repeat right -5% bottom -40%,
    url('../../images/bg_bt_l.png') no-repeat left -5% bottom -40%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.shopsContainer {
  width: 320px;
  padding: 24px;
  border: 1px solid #96d328;
  border-radius: 5px;
}

.cardsContainer {
  width: 880px;
  padding: 24px;
  border: 1px solid #96d328;
  border-radius: 5px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
